
.btn-primary {
  background-color: #4285F4 !important;
}
.btn-default {
  background-color: #2BBBAD !important;
}
.btn-success {
  background-color: #00C851 !important;
}
.btn-info {
  background-color: #33b5e5 !important;
}
.btn-danger {
  background-color: #ff3547 !important;
}
md-toolbar {
  background-color: #009688;
}
.purple-gradient {
  background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5);
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
}
.form-header {
  color: #fff;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 2px;
}

.md-toast-content {
  width: 400px;
  height: 90px;
  background: #323232;
  color: rgba(255, 255, 255, 0.87);
}
.md-panel.md-tooltip {
  background: #616161;
  color: rgba(255, 255, 255, 0.87);
}
/* TEMPLATE STYLES */
.nopadding {
  margin-top: 0 !important;
}
.navbar {
  background-color: #009688;
}
footer.page-footer {
  background-color: #009688;
  margin-top: 2rem;
}
.pattern-4 {
  background-attachment: fixed;
}
.view {
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Food/full%20page/9.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.full-bg-img {
  color: #fff;
}
.payment .fa:not(:first-child) {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.87);
}
input[type="text"]:focus:not([readonly]) {
  border-color: #C00;
  box-shadow: 0 1px 0 0 #C00;
  color: #fff;
}
input[type="text"]:not([readonly]) + label {
  color: rgba(255, 255, 255, 0.65);
}
input[type="text"]:focus:not([readonly]) + label {
  color: #fff;
}
.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
  color: #fff !important;
}
