@import "colors.less";
.btn-primary{
    background-color: @btn-primary-color !important;
}
.btn-default{
    background-color: @btn-default-color !important;
}
.btn-success{
    background-color: @btn-success-color !important;
}
.btn-info{
    background-color: @btn-info-color !important;
}
.btn-danger{
    background-color: @btn-danger-color !important;
}
md-toolbar{
    background-color: @theme-color;
}